HELP.md
target/
!.mvn/wrapper/maven-wrapper.jar
!**/src/main/**
!**/src/test/**



### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr

### VS Code ###
.vscode/

## node ### 
**/node_modules/**
**/vue-element-admin-master/**
**/.idea/**
**/target/**
**/test/**

**/.mvn/**
mvnw
mvnw.cmd
