* {
    margin: 0;
    padding: 0;
}

body {
    border-color: #f3f5ff;
}

li {
    list-style: none;
}

a {
    text-decoration: none;
}

/* 版心 */
.w {
    width: 1200px;
    margin: auto;
}

.header {
    height: 42px;
    /* background-color: pink; */
    margin: 30px auto;
}


.logo {
    float: left;
    width: 189px;
    height: 42px;
    /* background-color: red; */
}
.nav {
    float: left;
    margin-left: 60px;
}

.nav ul li {
    float: left;
    margin: 0 15px;
    /* margin-right: 12px; */
}

.nav ul li a {
    display: block;
    height: 42px;
    padding: 0 10px;
    line-height: 42px;
    font-size: 18px;
    color: #050505;
}

.nav ul li a:hover {
    border-bottom: 2px solid #00a4ff;
    color: #00a4ff;
}

.search {
    float: left;
    width: 412px;
    height: 42px;
    /* background-color: skyblue; */
    margin-left: 70px;
}

.search input {
    float: left;
    width: 345px;
    height: 40px;
    border: 1px solid #00a4ff;
    border-right: 0px;
    color: #bfbfbf;
    font-size: 14px;
    padding-left: 15px;
}

.search button {
    float: left;
    width: 50px;
    height: 42px;
    /* background-color: blue; */
    border: 0;
    background: url(images/btn.png);
}


.user {
    float: right;
    margin-right: 30px;
    line-height: 42px;
    font-size: 14px;
    color: #666;
}


.banner {
    height: 421px;
    /* background-color: blue; */
}

.banner .w {
    height: 421px;
    /* background-color: brown; */
    background: url(images/banner2_20190819_210028.png) no-repeat top center;

}

.subnav {
    float: left;
    width: 190px;
    height: 421px;
    background: rgba(0, 0, 0, 0.3);
}

.subnav ul li a {
    font-size: 14px;
    color: #fff;
}

.subnav ul li a:hover {
    color: #00a4ff;
}

.subnav ul li span {
    float: right;
}
.subnav ul li {
    height: 45px;
    line-height: 45px;
    padding: 0 20px;
}

.course {
    float:right;
    height: 300px;
    width: 230px;
    background-color: pink;
    /* 浮动的盒子不会有外边距合并的问题 */
    margin-top: 50px;
}