<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>

    <div id="app">
            <input type="checkbox" v-model="ok"> 同意许可，

              <!--  直接修改dom v:if条件指令：还有v-else、v-else-if 切换开销大 -->
            <h1 v-if="ok">协议</h1>
            <h2 v-else>no</h2>

             <!-- v:show 条件指令 初始渲染开销大 -->
            <h3 v-show="ok">show 协议</h3>
            <h4 v-show="!ok"> no </h4>

    </div>

    <script>

        new new Vue({
            el: '#app',
            // 数据模型的定义
            data: {
                name: 'clx',
                ok: false
            }
        })


    </script>
    
</body>
</html>